BODY {
    background-color: #e1e1df;
    margin: 80px;
 }

h1 {
    font-family: Times New Roman;
    font-size: 14pt;
    line-height: 1pt;
    color: #0a4974;
 }
 
form{
    background-color: #f3f3ee;
    border: 1px outset #888;  
    margin: 20px;
    padding: 50px;
}

img {
    margin: 2px;
    border: none;
    vertical-align: middle;
}

input[type=text] {
    background-color: #c8def2;
    border: 1px solid #888;
    width: 400px;
    height: 35px;
    margin-top: 10px;
    margin-bottom:  10px;
}

textarea {
    background-color: #c8def2;
    border: 1px solid #888;
    resize: none;
    overflow: auto;
    vertical-align: top;
    width: 400px;
    height: 100px;
}

input[type=submit] {
    background-color: #1f7c9e;
    border: 1px solid grey;
    outline: none;
    width: 115px;
    margin: 8px;
    padding: 5px; 
    font-size: 14pt;
    color: white;
}

