body {
    background-color: white;
    margin-left: 150px;
}

form{
    background-color: whitesmoke;
    width: 600px;
    height: 30%;
    border: 1px solid #0a4974;
    margin: 50px 5% 20px;
    padding-left: 20px;
}

input[type=text] {
    background-color: white;
    border: 1px solid #888;
    width: 400px;
    height: 35px;
}

.sourceTxt {
    position: relative;
    background-color: white;
    border: 1px solid #888;
    resize: none;
    overflow: auto;
    width: 300px;
    height: 400px;
    margin-left: 5%;
    padding-left: 10px;
    float: left;
}
.translatedTxt {
    position: relative;
    background-color: whitesmoke;
    border: 1px solid #888;
    resize: none;
    overflow: auto;
    width: 300px;
    height: 400px;
    margin-left: 5%;
    padding-left: 10px;
    source: right;
}

.customButton {
    background:url("http://localhost:8080/lesson11/pic/forward.png") no-repeat;
    cursor:pointer;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    
}

p {
    font-family: Times New Roman;
    font-size: 14pt;
    line-height: 1pt;
    color: #0a4974;
}
