body {
    background-color: white;
    margin: 80px;
    margin-left: 150px;
}

h1 {
    font-family: Times New Roman;
    font-size: 14pt;
    line-height: 1pt;
    color: #0a4974;
}
 
a:link {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}
a.currPage{
    color: red;
    font-weight:800;
}

p.shadow{
    color : activecaption; 
    font-weight: 200;
}

.dontShow{
    color : activecaption;   
}

table {
    width: 35%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid whitesmoke;
}

th{
    background-color: whitesmoke;
    color: graytext;
}
 
td{
    padding-left: 30px;
}

div.controlArea{
    width: 35%;
    border: 1px solid buttonface; 
    margin-top: 30px;
    text-align: center;
}